{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link href="//fonts.googleapis.com/css?family=Archivo+Narrow,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/rik.css' %}">
</head>
<body>
	<div class="page-header">
		<h1><a href="/">Ärikataloog</a></h1>
		<a href="{% url 'asutamine' %}"><h4>Asuta osaühing</h4></a>
	</div>

	{% block content %}
	<div class="content">
		<form action="/nimekiri/" method="GET">
			<input type="searchfield" name="paring">
			<input type="submit" value="Otsi ettevõtte nime/registrikoodi järgi">
		</form>
	</div>
	{% endblock %}

</body>
</html>

